flow.json
[{"id":"b8ebae21.eef28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"230e51dc.a8332e","type":"inject","z":"b8ebae21.eef28","name":"","topic":"","payload":"My new string","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":139,"wires":[["39007b38.128034"]]},{"id":"598b1aa3.fdd904","type":"debug","z":"b8ebae21.eef28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":704,"y":220,"wires":[]},{"id":"39007b38.128034","type":"function","z":"b8ebae21.eef28","name":"","func":"msg.payload = \"I've changed things!\";\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":169,"wires":[["598b1aa3.fdd904","30fe59cb.b7b8a6"]]},{"id":"30fe59cb.b7b8a6","type":"excel-write","z":"b8ebae21.eef28","name":"","filename":"","x":695,"y":299.5,"wires":[[]]}]